.DS_Store
target
glide.db.properties-secondary
da-commons/.metadata
.sass-cache
.gradle
.repository
.idea
glide-ng/src/main/plugins/com.glide.ui.retina_icons/ui.html/styles/source
glide-ng/src/main/plugins/com.glide.guided_tours/ui.html/styles/app.guided_tours/guided_tours.css
*.iml
node_modules
glide-launcher/GlideOrbit.launch
*/.settings/org.eclipse.m2e.core.prefs
*/.idea
bootstrap.properties
.gitignore
out
META-INF
.classpath
.project
.settings/
.vscode/
*.class

